@font-face {
    font-family: "Sans a4fran3";
    src: url(/assets/fonts/Sans-a4fran3/Sans\ a4fran3.woff);
  }
*{
    margin: 0;   
}
body{
    background-color: rgb(242, 242, 242);
    font-family: "Sans a4fran3";
    font-size: 17px;
    font-weight:bolder;

}
.RtL{
    direction: rtl;
}
.entrance{
    height: 40%;
    width: 40%;
    margin: 7em auto;
    padding: 30px;
    background-color:#FFFFFF;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-x: hidden !important;
}
.outline{
    border:none;
    outline:0;
    border-bottom: 1px solid #cacaca;
    background-color: #E8F0FE;
    margin-top: 20px;
    padding: 8px;
    display: inline;
    width: 90%;
    margin: 0.6em ;
    border-radius: 5px;
    place-items: center;
}
.outline input{
    width: 100%;
}
.text{
    margin: 0.6em ;
 
}
.center{
    text-align: center;
    font-weight: lighter;
    font-size: 1.8em;
}
.button{
    border: none;
    background-color:#4CAF50 ;
    border-radius: 5px;
    color: #FFFFFF;
    font-size:17px;
    padding: 8px 8px 8px 0;
    display: inline;
    width: 93%;
    margin: 0.6em ;
}
.but{
    margin-top: 10px;
}
@media only screen and (max-width: 667px) {
  .container{
    width: 100% !important;
    overflow-x: hidden ;
  }
  .button{
    width: 100%;
}

}


